nav{
    color: aliceblue;
    justify-content: space-between;
    padding: 0 30px;
    align-items: center;
    background-color: rgb(5, 93, 208);
    margin-top: 50px;
    display: flex;
}
ul{
    list-style-type: none;
    
}
li{
    display: inline-block;
    padding: 10px;
}
li:hover:not(.active){
    background-color: rgb(67, 192, 255);
    color: rgb(3, 14, 17);
}
.active{
    background-color: black;
}
input{
    margin-right: 5px;
}

.link{
    margin-right: 100 px;
    padding: 20px;
    text-decoration: none;
    color: aliceblue;
}
.signup
{
    color: aliceblue;
}
.account
{
    color: rgb(255, 250, 250);
}
.loginc
{
    color: aliceblue;
}
.logo
{
    height: 35px;
    width: 30px;
}